[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
django-crispy-forms = "==1.7.2"
gunicorn = "==19.9.0"
whitenoise = "==3.3.1"
django-taggit = "*"
isbntools = "==4.3.17"
isbnlib = "==3.9.4"
redis = "*"
celery = "*"
requests = "*"
pillow = "*"
social-auth-app-django = "*"
braintree = "*"
django-redis = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
