{% extends 'books/base.html' %}
{% load humanize %}
{% load static from staticfiles %}
{% load book_tags %}
{% block title %}All{% endblock %}

{% block content %}
    <div class="row columns">
        {{ block.super }}
    </div>
    <div class="media-body">
        {% if tag %}
          <h2> Posts tagged with "{{tag}}"</h2>
        {% endif %}
        
        <div class="card-columns">
        {%  for book in book_list %}
            <div class="card col-sm-6 col-md-4 col-lg-3 " style="max-width: 18rem;">
                <p ><a href="{{ book.get_absolute_url }}"><image src =" {{  book.picture.url }} " width="200px" alt="Rounded Image" class="img-rounded"></p>
                <span class = "media-heading"><a href="{{ book.get_absolute_url }}">{{ book.name|truncatechars:23 }}</a></span>
                    <div><span >by <a href="{% url 'profile' book.seller.slug %}">{{book.seller}}</a></span></div>
                    <div><span class="lead">$ {{ book.price }}</span></div>
                    <small > {{book.date|naturaltime }}</small>
                    <p > {{book.city }}</p>
                    <p > {{book.distance }}</p>
                    {% for tag in book.tags.all %}
                    <p class ="label label-danger">
                      <a href="{% url 'books:book_list_by_tag' tag.slug %}">
                        {{ tag.name }}
                      </a>
                    </p>
                        {% if not forloop.last %}, 
                        {% endif %}
                      {% endfor %}
            </div>
        {% endfor %}
        </div>
      </div>  

{% endblock %}
