{% extends 'books/base.html' %}
{% load humanize %}
{% load static from staticfiles %}

{% block title %}All{% endblock %}

{% block content %}
    <div class="row columns">
        {{ block.super }}
    </div>
    <div class="media-body">
        {% if tag %}
          <h2> Posts tagged with "{{tag}}"</h2>
        {% endif %}
        {%  for book in book_list %}
        <div class="col-sm-4 col-md-3 col-lg-2">
            <div class="small-6 columns">
                <div class="callout">
                  <p><image src =" {{  book.picture.url }} " width="200px" alt="Rounded Image" class="img-rounded  img-responsive"></p>

                    <h5 class = "media-heading"><a href="{% url 'books:book_detail' book.pk %}">{{ book.name|truncatechars:23 }}</a></h5>
  by <a href="{% url 'profile' book.seller.slug %}">{{book.seller}}</a>

										<span class="username">$ {{ book.price }}</span>
                    <p > {{book.date|naturaltime }}</p>
                    {% for tag in book.tags.all %}
                    <p class ="label label-danger">
                      <a href="{% url 'books:book_list_by_tag' tag.slug %}">
                        {{ tag.name }}
                      </a>
                    </p>
                      {% if not forloop.last %}, {% endif %}
                    {% endfor %}
                  </p>
                </div>
            </div>
          </div>
        {% endfor %}
    </div>

{% endblock %}
