{% extends 'books/base.html' %}

{% block content%}
<h1> New Book </h1>

<div class="article-entry">
	<div class="carousel-inner">
		<div class ="item active">
			<image src =" {{ picture }} " width="200px" alt="Awesome Image" class="img-rounded  img-responsive">
			</div>
		</div>
		<h3> {{ name }}</h3>
		<p>{{ isbn }} </p>
		<p>{{ description }}</p>
</div>

<form action="" method="post" enctype="multipart/form-data">
	{% csrf_token %}
	{{ form.as_p }}
	<button class = "btn" type = "submit" >Next</button>
</form>
{% endblock content%}
