{% extends 'books/base.html' %}


{% block content%}
<div class="article-entry">

		<h2> {{ object.name }}</h2>
		<p>{{ object.seller }}</p>
		<p> Posted at {{object.date}} in
		<p>{{ object.isbn }} </p>
		<p>{{ object.description }}</p>
		<p>{{ object.price }}</p>
		<p><image src =" {{  object.picture.url }} " width="200px" alt="image"></p>

</div>

{% if user.is_authenticated and book.seller == user %}

<p> <a href="{% url 'books:book_edit' book.pk %}"> Edit </a> |
		<a href="{% url 'books:book_delete' book.pk %}">Delete </a></p>
{% endif %}
<p> Back to <a href="{% url 'books:book_list' %}">All Books </p>
{% endblock content%}
