{% extends 'books/base.html' %}
{% load humanize %}


{% block content%}
<div class="article-entry">
	<p><image src =" {{  object.picture.url }} " width="200px" alt="Rounded Image" class="img-rounded  img-responsive"></p>

		<h2> {{ object.name }}</h2>
		by <a href="{% url 'profile' book.seller.slug %}">{{book.seller}}</a>
		<p> Posted at {{object.date|naturaltime}} in <a href="{% url 'books:explore' book.category.pk %}">{{object.category}}</a></p>
		<p>{{ object.isbn }} </p>
		<p>{{ object.description }}</p>
		<p>{{ object.price }}</p>s

</div>

{% if user.is_authenticated and book.seller == user %}

<p> <a href="{% url 'books:book_edit' book.pk %}"> Edit </a> |
		<a href="{% url 'books:book_delete' book.pk %}">Delete </a></p>
{% endif %}
<p> Back to <a href="{% url 'books:book_list' %}">All Books </p>
{% endblock content%}
