{% extends 'base.html' %}
{% load humanize %}

{% block title %}Explore{% endblock title %}

{% block content %}
<h2> Explore</h2>
<div class="media-body">
	<div class="col-sm-3 col-md-6 col-lg-6">
		{%  for category in category_list %}
		<p>{{category.name}}</p>
		{% endfor %}
</div>
</div>
<div class="media-body">
		{%  for book in book_list %}
		<div class="col-sm-3 col-md-6 col-lg-6">
				<div class="small-6 columns">
						<div class="callout">
							<p><image src =" {{  book.picture.url }} " width="200px" alt="Rounded Image" class="img-rounded  img-responsive"></p>

								<h5 class = "media-heading"><a href="{% url 'books:book_detail' book.pk %}">{{ book.name|truncatechars:23 }}</a></h5>
by <a href="{% url 'profile' book.seller.slug %}">{{book.seller}}</a>

								<span class="username">$ {{ book.price }}</span>

								<p > {{book.date|naturaltime }}</p>

						</div>
				</div>
			</div>
		{% endfor %}
</div>

{% endblock content %}
