{% extends 'base.html' %}
{% load static from staticfiles %}

<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="{% static 'js/reconnecting-websocket.js' %}"></script>

<!------ Include the above in your HEAD tag ---------->
{% block title %}Chat Room{% endblock title %}


{% block content %}

<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" type="text/css" rel="stylesheet"

<div class="container">
<div class="messaging">
      <div class="inbox_msg">
        <div class="inbox_people">
          <div class="headind_srch">
            <div class="recent_heading">
              <h4>Recent</h4>
            </div>

          </div>
          <div class="inbox_chat">
            <div class="chat_list active_chat">
              <div class="chat_people">
                <div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
                <div class="chat_ib">
                  <h5>Sunil Rajput <span class="chat_date">Dec 25</span></h5>
                  <p>Test, which is a new approach to have all solutions
                    astrology under one roof.</p>
                </div>
              </div>
            </div>
            <div class="chat_list">
              <div class="chat_people">
                <div class="chat_img"> <img src=" {{  user.avatar.url }} " alt="sunil"> </div>
                <div class="chat_ib">
                  <h5>{{user.username}} <span class="chat_date">Dec 25</span></h5>
                  <p>Test, which is a new approach to have all solutions
                    astrology under one roof.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="mesgs">
          <div class="msg_history" id = "chat-log">
            <div class="incoming_msg">
              <div class="incoming_msg_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
              <div class="received_msg">
                <div class="received_withd_msg">
                  <p>Test which is a new approach to have all
                    solutions</p>
                  <span class="time_date"> 11:01 AM    |    June 9</span></div>
              </div>
            </div>
            <div class="outgoing_msg">
							<div class="outgoing_msg_img"> <img src= "{{  user.avatar.url }}"  alt="sunil"> </div>
              <div class="sent_msg">
                <p>Test which is a new approach to have all
                  solutions</p>
                <span class="time_date"> 11:01 AM    |    June 9</span> </div>
            </div>
          </div>
          <div class="type_msg">
            <div class="input_msg_write">
              <input id="chat-message-input" type="text" class="write_msg" placeholder="Type a message" />
              <button id="chat-message-submit" class="msg_send_btn" type="button" value="Send"><i class="fa fa-paper-plane-o" aria-hidden="true"></i></button>
            </div>
          </div>
        </div>
      </div>

			<script>
			    var roomName = {{ room_name_json }};
					var username = {{ username }}
			    var chatSocket = new ReconnectingWebSocket(
			        'ws://' + window.location.host +
			        '/ws/chat/' + roomName + '/');

			    chatSocket.onmessage = function(e) {
			        var data = JSON.parse(e.data);
			        var message = data['message'];
							var author = message['author'];
			        /**/
							var msgContainerTag = document.createElement('div');
							var msgContainer = document.createElement('div');
							var imgTag =  document.createElement('img');
							pTag.textContent = message.content
							spanTag.textContent = message.timestamp
							imgTag.src = 'https://ptetutorials.com/images/user-profile.png'

							if (author === username) {
								msgContainerTag.className ='outgoing_msg';
								msgContainer.className = 'sent_msg';
								imgTag.className ='outgoing_msg_img';
							} else{
								msgContainerTag.className = 'incoming_msg';
								msgContainer.className = 'received_msg';
								imgTag.className ='incoming_msg_img';
							}
							msgContainer.appendChild(pTag);
							msgContainer.appendChild(spanTag)
							msgContainerTag.appendChild(imgTag);
							msgContainerTag.append(msgContainer);
							document.querySelector('#chat-log').appendChild(msgContainerTag);
				  };

			    chatSocket.onclose = function(e) {
			        console.error('Chat socket closed unexpectedly');
			    };

			    document.querySelector('#chat-message-input').focus();
			    document.querySelector('#chat-message-input').onkeyup = function(e) {
			        if (e.keyCode === 13) {  // enter, return
			            document.querySelector('#chat-message-submit').click();
			        }
			    };

			    document.querySelector('#chat-message-submit').onclick = function(e) {
			        var messageInputDom = document.getElementById('chat-message-input');
			        var message = messageInputDom.value;
			        chatSocket.send(JSON.stringify({
								'command':'new_messages',
			           'message': message,
									'from':username
			        }));

			        messageInputDom.value = '';
			    };
			</script>
		{% endblock content %}
